@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<style>
    .input-row {
        display: flex;
        margin-bottom: 10px;
    }
    .input-row input {
        margin-right: 10px;
    }
</style>
<div id="app">
    <div id="container">
        <h3>工作日期</h3>
        <!-- 初始輸入欄位 -->
        <button>新增</button>
        <template v-for="item in workList">
            <div class="input-row">
                <input type="text" v-model="item" placeholder="請輸入工作內容">
            </div>
        </template>
    </div>
    <div>
        <button>確定</button>
    </div>
</div>

<script>

    var app = Vue.createApp({
        data() {
            return {
                workList: [],
            }
        },
        created () {

        },
        methods: {
            AddRow() {
                this.workList.push('');
            },
        },
    }).mount('#app');
</script>