@using Newtonsoft.Json
@using Work_Journal.Areas.ScheduleManage.Controllers;
@using Logic.Enums;
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .search_box {
        border: solid;
        border-radius: 5px;
    }

</style>
<div id="app" class="container">
    <h1>工作日誌</h1>
    <div class="d-flex align-items-center mb-3">
        <!-- 搜尋框 -->
        <div class="search_box">
            <input type="text" id="searchInput" class="border-0" placeholder="輸入關鍵字搜尋...">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <!--新增鈕-->
        <button type="button" v-on:click="Add()" class="btn btn-primary ms-3">新增</button>
        <!--匯出每周行程-->
        <button type="button" v-on:click="" class="btn btn-secondary ms-3">匯出每周行程</button>
    </div>
    <!-- 列表 -->
    <table>
        <thead>
            <tr>
                <th>工作日期</th>
                <th>標題</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
            <template v-for="item in pageList">
                <tr>
                    <td>{{item.WorkDateTimeString}}</td>
                    <td>{{item.Subject}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bars"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="javascript:;" v-on:click="Edit(item.Id)">編輯</a></li>
                                <li><a class="dropdown-item" href="javascript:;">匯出今日行程</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</div>

@Html.AntiForgeryToken()

@section Scripts {
    <script>
        var app = Vue.createApp({
            data() {
                return {
                    pageList: {},
                    Keyword: '',
                }
            },
            created: function () {
                this.Init();
            },
            methods: {
                Init() {
                    ShowBlock();
                    var model = {
                        Currentpage: 1,
                        PageSize: 10,
                        Keyword: '',
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                    };

                    $.ajax({
                        url: '@Url.Action("SwitchPage", "WorkSchedule", new { area = "ScheduleManage" })',
                        type: 'POST',
                        data: model,
                        success: function (response) {
                            app.pageList = response.List;
                            CloseBlock();
                        }
                    });
                },
                Edit(id) {
                    location.href = `@Url.Action(nameof(WorkScheduleController.Input))?scheduleId=${id}&ActionType=@ActionType.Edit`;
                },
                Add() {
                    location.href = `@Url.Action(nameof(WorkScheduleController.Input))?ActionType=@ActionType.Insert`;
                },
            },
        }).mount('#app');

        
    </script>
}