@using Newtonsoft.Json
@using Work_Journal.Areas.ScheduleManage.Controllers;

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
<div id="app" class="container">
    <h1>工作日誌</h1>
    <!-- 搜尋框 -->
    <input type="text" id="searchInput" placeholder="輸入關鍵字搜尋...">
    <!--新增鈕-->
    <button type="button" v-on:click="Add()">新增</button>
    <!-- 列表 -->
    <table>
        <thead>
            <tr>
                <th>工作日期</th>
                <th>標題</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
            <template v-for="item in pageList">
                <tr>
                    <td>{{item.workDateTimeString}}</td>
                    <td>{{item.subject}}</td>
                    <td><button type="button" v-on:click="Edit()">編輯</button></td>
                </tr>
            </template>
        </tbody>
    </table>
</div>

@Html.AntiForgeryToken()

@section Scripts {
    <script>
        var app = Vue.createApp({
            data() {
                return {
                    pageList: {},
                    Keyword: '',
                }
            },
            created: function () {
                this.Init();
            },
            methods: {
                Init() {
                    ShowBlock();
                    var model = {
                        Currentpage: 1,
                        PageSize: 10,
                        Keyword: '',
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                    };

                    $.ajax({
                        url: '/ScheduleManage/WorkSchedule/SwitchPage',
                        type: 'POST',
                        data: model,
                        success: function (response) {
                            app.pageList = response.list;
                            CloseBlock();
                        }
                    });
                },
                Edit() {

                },
                Add() {
                    location.href = '/ScheduleManage/WorkSchedule/Input';
                },
            },
        }).mount('#app');
    </script>
}