@using Models.ViewModel.ScheduleManage;
@model WorkScheduleInputPage
@{

}


<style>
    .input-row {
        display: flex;
        margin-bottom: 10px;
    }
    .input-row input {
        margin-right: 10px;
    }
</style>
<div id="app">
    <div id="container">
        <h3>工作日誌</h3>
        <!-- 初始輸入欄位 -->
        <div>
            <p>工作日期</p>
            <input type="text" placeholder="請輸入工作日期" />
        </div>
        <div>
            <button>新增</button>
            <template v-for="item in workList">
                <div class="input-row">
                    <input type="text" v-model="item" placeholder="請輸入工作內容">
                    <input type="text" v-model="item" placeholder="請輸入工時"><span>小時</span>
                </div>
            </template>
        </div>
    </div>
    <div>
        <button>確定</button>
    </div>
</div>

<script>

    var app = Vue.createApp({
        data() {
            return {
                workList: [],
            }
        },
        created () {
            this.Init();
        },
        methods: {
            Init() {

            },
            AddRow() {
                this.workList.push('');
            },
        },
    }).mount('#app');
</script>